.destinations-itens {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.destinations .item header h4 {
  margin: 24px 0;
}

.destinations .item p {
  margin-bottom: 24px;
}

.destinations .button {
  width: 100%;
}

.destinations-itens .item .img-item {
  width: 100%;
  height: 360px;
  margin-top: 40px;
}

.destinations-itens .item .img-item.tokyo {
  background: url(../images/tokyo-mobile.jpg);
  background-size: cover;
}

.destinations-itens .item .img-item.osaka {
  background: url(../images/osaka-mobile.jpg);
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .destinations {
    width: 648px;
  }
  .destinations-itens .item .img-item {
    width: 100%;
    height: 452px;
  }

  .destinations-itens .item .img-item.tokyo {
    background: url(../images/tokyo-tablet-desktop.jpg);
    background-size: cover;
  }

  .destinations-itens .item .img-item.osaka {
    background: url(../images/osaka-tablet-desktop.jpg);
    background-size: cover;
  }

  .destinations .button {
    width: 280px;
  }
}

@media screen and (min-width: 1024px) {
  .destinations {
    width: 900px;
  }
  .destinations .item .img-item {
    width: 100%;
    height: 452px;
  }
}

@media screen and (min-width: 1440px) {
  .destinations {
    width: 1200px;
  }
  .destinations-itens {
    flex-direction: row;
  }
}
