.hero-img {
  height: 400px;
  width: 100%;
  background: url(../images/hero-mobile.jpg) no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .hero-img {
    height: 620px;
    background: url(../images/hero-tablet.jpg) no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1024px) {
  .hero-img {
    background: url(../images/hero-desktop.jpg) no-repeat;
    background-size: cover;
  }
}
