.hero-img {
  height: 400px;
  width: 100%;
  background: url(../images/hero-mobile.jpg) no-repeat;
  background-size: cover;
}

.bottom-hero .hero-img {
  height: 400px;
  width: 100%;
  background: url(../images/bottom-hero-mobile.jpg) no-repeat;
  background-size: cover;
}

.hero h2 {
  padding: 88px 24px;
  margin: 0px;
  font-weight: var(--text-weight);
  font-size: 20px;
  text-align: center;
  line-height: 32px;
}

@media screen and (min-width: 768px) {
  .hero-img {
    height: 620px;
    background: url(../images/hero-tablet.jpg) no-repeat;
    background-size: cover;
  }

  .bottom-hero .hero-img {
    height: 620px;
    background: url(../images/bottom-hero-tablet.jpg) no-repeat;
    background-size: cover;
  }

  .hero h2 {
    padding: 88px 60px;
    font-size: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .hero-img {
    background: url(../images/hero-desktop.jpg) no-repeat;
    background-size: cover;
  }

  .bottom-hero .hero-img {
    background: url(../images/bottom-hero-desktop.jpg) no-repeat;
    background-size: cover;
  }

  .hero h2 {
    padding: 88px 120px;
  }
}

@media screen and (min-width: 1920px) {
  .hero h2 {
    padding: 88px 160px;
  }
}
